.pagination {
    display: flex;
}

.pagination-btn {
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    width: 26px;
    cursor: pointer;
    color: #474955;
    padding: 0;
    background-color: transparent;
    border: none;
    height: 25px;
}

.pagination-number:hover {
    color: #7EBC3C;
}

.active {
    color: #7EBC3C;
}

@media (max-width: 767px) {
    .pagination-btn {
        width: 20px;
        font-size: 15px;
    }
}
