.main {
  width: 1077px;
  margin: 0 auto;
}

.pagination-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px 12px 41px;
}

@media (max-width: 1179px) {
  .main {
    width: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
  .main {
    width: (100% - 20px);
  }

  .pagination-block {
    padding: 0;
  }
}