.blog_card {
  display: grid;
  grid-template-columns: 10% 50% 40%;
  border-collapse: collapse;
  border-left: 1px solid #E3E6EC;
  border-right: 1px solid #E3E6EC;
  border-bottom: 1px solid #E3E6EC;
}

.blog_card div {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #474955;
}

.blog_card div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_card div:nth-child(2) {
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-left: 1px solid #E3E6EC;
  border-right: 1px solid #E3E6EC;
}

.blog_card div:nth-child(3) {
  border-bottom: none;
  padding: 15px 11px;
}